* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background: url(images/gray.jpg)no-repeat;
}

h1 {
    color: #fff;
    text-align: center;
}

.registro{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 10px;
}

.titulo{
    background: deepskyblue;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

.contenedor-inputs{
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

.input-48{
    width: 48%;
        
}

.input-100{
    width: 100%;
}

.registrar{
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font: 20px;
    
}

.registrar:active{
    transform: scale(1.05);
}




